
/*   Common   Styles  */
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
    font-family: Amsdam;
    src: url("../fonts/AmsdamFF/Amsdam-Regular.ttf");
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

h2 {
  position: relative;
  display: block;
  margin: 0;
  padding-top: 55px;
  font-size: 20px;
  /*line-height: 225px;*/
  font-family: Amsdam, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
}

.text-under-h2 {
  display: block;
  margin: 0 70px;
  padding-top: 65px;
  font-size: 14px;
  /*line-height: 25px;*/
  font-family: "Crimson Text", sans-serif;
  letter-spacing: 1.5px;
}

.services .text-under-h2,
.history .text-under-h2,
.ourteam .text-under-h2 {
  text-align: center;
}

.color-grey-h2 {
  color: #3e3d3d;
}

.color-white-h2 {
  color: #ffffff;
}

.about-us h2::before,
.history h2::before,
.ourteam h2::before {
  position: absolute;
  content: "";
  top: 110px;
  left: 490px;
  width:186px;
  height: 5px;
  background: url("../img/h2-divider-black.png") no-repeat;
}

.services h2::before {
  position: absolute;
  content: "";
  top: 110px;
  left: 490px;
  width:186px;
  height: 5px;
  background: url("../img/h2-divider-white.png") no-repeat;
}


/* end of common styles */


/*   Header */
.main-header .container {
  position:relative;
  padding: 5px 0;
  background: #ffffff;
}

.header-logo,
.main-navigation,
.main-navigation li,
.social-block {
  display: inline-block;
  /*border:1px solid red;*/
}

.header-logo a {
  padding-left:55px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #757575;
  text-decoration: none;
  opacity: 0.8;
}

.header-logo::before {
  position: absolute;
  content: "";
  top:20%;
  left:0;
  width:41px;
  height:39px;
  /*background:red;*/
  background: url("../img/logo-main.jpg") no-repeat;
}

.main-navigation {
  margin-left: 40px;
}

.main-navigation a {
  padding-right:15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  /*line-height: 50px;*/
  color: #b7b7b7;
}

.main-navigation a:hover {
  color:#3e3d3d;
}

.social-block {
  position: absolute;
  right:0;
  top:30%;
}

.soc-fb, .soc-tw, .soc-be {
  position: relative;
  margin: 0px;
  padding: 0 5px;
  /*border-right: 2px solid #aaaaaa;*/
}

.soc-be {
  padding-right: 0;
  /*border-right: none;*/
}

.soc-fb::after {
  position: absolute;
  content: "";
  top:4px;
  left:22px;
  width:2px;
  height:10px;
  background: #aaaaaa;
}

.soc-tw::after {
  position: absolute;
  content: "";
  top:4px;
  left:22px;
  width:2px;
  height:10px;
  background: #aaaaaa;
}
/*-----  End of Header  ------*/

/* -------------------------------*/
/* SLIDER start ------------------*/
/* -------------------------------*/
.slider {
  background: url("../img/slider-bg.jpg") no-repeat;
  min-height: 635px;
  background-size: cover;
}

.slider .container {
  position: relative;
  padding-top: 185px;
  padding-bottom: 195px;
  text-align: center;
  /*vertical-align: bottom;*/
}

.slider-prev {
  position: absolute;
  top: 270px;
  left: 0;
}

.slider-next {
  position: absolute;
  top: 270px;
  right: 0;
}

.slider-data {
   display: inline-block;
  /*position: relative;*/
  /*margin-top:120px;*/
}

.text-slider {
  margin:0;
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  /*line-height: 50px;*/
  letter-spacing: 2px;
  color: #ffffff;
}


.slider h1 {
  display: block;
  position: relative;
  margin: 0;
  padding:0;
  margin-top: 60px;
  font-family: Amsdam, sans-serif;
  font-size: 36px;
  /*line-height: 200px;*/
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ffffff;
}

.slider h1::before {
  position: absolute;
  content: "";
  top: -32px;
  left:-5px;
  width:519px;
  height:109px;
  background: url("../img/slider-lines.png") no-repeat;
}

.btn-get-started {
  position: relative;
  display: inline-block;
  /*text-align:center;*/
  box-sizing: border-box;
  width: 150px;
  /*height: 42px;*/
  margin: 0 auto;
  margin-top: 80px;
  padding: 10px 0;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  /*line-height: 50px;*/
  letter-spacing: 1px;
  text-decoration: none;
  background-color: inherit;
  color:#ffffff;
  border: 2px solid #ffffff;
}

.btn-get-started::after {
  position: absolute;
  content:"";
  left: 62px;
  top: 32px;
  width: 15px;
  height: 50px;
  background: url("../img/slider-button-arrow.png") no-repeat;
}

.btn-get-started:hover::after {
  top: 42px;
}
/* slider end */

/* !!!!!!!!!!!!!!!!  about us */

/*-----   Abouut US   ------*/
.about-us-img {
  background: url("../img/about-us-img.jpg") no-repeat;
  background-size: auto;
  min-height: 325px;
}
.about-us {
  background: #e3e3e3;
  padding-top: 70px;
}

.about-us .container {
  background: #ffffff;
}

.btn-about-row {
  display: block;
  margin: 0 auto;
  margin: 50px 0;
  text-align: center;
}

.btn-about {
  display: inline-block;
  text-align:center;
  padding: 10px;
  width:135px;
  /*height:40px;*/
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  /*line-height: 44px;*/
  letter-spacing: 1px;
  border: 2px solid #3e3d3d;
  background: #ffffff;
  color: #3e3d3d;
  text-decoration: none;
}

.btn-about:hover {
  color: #cecece;
  background: #3e3d3d;
}

.about-us-row-items {
  display: block;
  text-align: center;
  background: #e3e3e3;
  padding-top:35px;
  padding-bottom: 75px;
}

.about-us-item {
  display: inline-block;
  position: relative;
  width: 270px;
  /*margin: 40px 0;*/
  /*border:1px solid red;*/
  color: #3e3d3d;
}



.about-us-item-title {
  display:block;
  position: relative;
  padding-top:20px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;

}

.about-us-item-number {
  display:block;
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  line-height: 44px;
  /*text-transform: uppercase;*/
}

.about-us-item:before {
  position: absolute;
  content: "";
  top:0;
  right:0px;
  width:1px;
  height:168px;
  background: #b0b0b0;
}

.about-us-item:last-child:before {
  visibility: hidden;
}

/*background: url("../img/about-divider.jpg") no-repeat;*/

/*-----   End About US   ------*/

/*services start*/
.services {
  min-height: 742px;
  background: url("../img/services-bg.jpg") no-repeat;
  background-size: cover;
  /*opacity: 0.9;*/
}

.services .text-under-h2 {
  color: #bebebf;
}

.services-row-item {
  margin-top: 90px;
}

.services-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  /*height: 490px;*/
  width: 270px;
  /*padding: 15px;*/
  margin-left: 15px;
  text-align: center;
  color: #bebebf;
  /*color: #d8d8d8;*/
  /*color: #ffffff;*/
  /*color: #3e3d3d;*/
  /*border: 1px solid red;*/
}

.services-item::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0px;
  width:270px;
  height:377px;
  background: url("../img/services-border.jpg");
  background-repeat: no-repeat;
}

.services-img {
  display: block;
  /*text-align: center;*/
}

.services-item-title {
  display: block;
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.services-item-text {
  display: block;
  /*margin:auto;*/
  /*width: 190px;*/
  height:210px;
  padding: 30px 30px;
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  /*border: 1px solid blue;*/
}

/*end of services */

/* -------------------------------------------*/
/* start HISTORY */
/* -------------------------------------------*/
.history  {
  /*border: 1px solid brown;*/
  /*border-bottom: 2px solid brown;*/
  background: #ededed;
}

.history .container {
  min-height: 1490px;
  /*border: 1px solid blue;*/
  /*border-top: 2px solid blue;*/
  /*border-bottom: 2px solid blue;*/

}

.history-items-gr {
  /*position: relative;*/
  display: block;
  padding-top: 120px;
  color: #3e3d3d;
}

.left-column,
.right-column  {
  display:inline-block;
  width:560px;
  box-sizing: border-box;
  vertical-align: top;
  /*border: 1px solid red;*/
}

.left-column {
  /*margin-right: 42px;*/
}

.left-column .history-item {
  display: block;
  box-sizing: padding-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 50px;
}

.right-column .history-item {
  display: block;
  box-sizing: padding-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 55px;
  padding-right: 15px;
}

.history-item {
  position: relative;
  border: 2px solid #3e3d3d;
}

.history-item:hover {
  background: #3e3d3d;
  color: #ffffff;
  color: #e4e4e4;
}

.history-item-title {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.history-item-date{
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: none;
}

.history-item-text {
  display: block;
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
  text-transform: none;
}

/*new history*/

.c-divider {
  position: relative;
  display: inline-block;
  margin: 0 19px;
  width: 2px;
  height: 1051px;
  /*background: url("../img/notused/history-line.png") no-repeat;*/
  background: #3e3d3d;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: center;
  color: #3e3d3d;
}

.c-top {
  position: absolute;
  left: -34px;
  top: -71px;
  width: 68px;
  height: 68px;
  border: 2px solid #3e3d3d;
  border-radius: 50%;
}

.c-middle {
  position: absolute;
  z-index: 200;
  left: -34px;
  top: 662px;
  width: 68px;
  height: 68px;
  border: 2px solid #3e3d3d;
  border-radius: 50%;
  background: #ededed; /*used to hide divider*/
}

.c-bottom {
  position: absolute;
  left: -27px;
  bottom: -54px;
  width: 54px;
  height: 54px;
  /*border: 2px solid #3e3d3d;*/
  border-radius: 50%;
  background-color: #3e3d3d;
  /*background-image: url("../img/history-start.png") no-repeat;*/
}

.c-top span,
.c-middle span {
  position: relative;
  top: 35%;
}

.c-bottom img {
 position: relative;
 top: 25%;
}

.left-column .history-item:nth-of-type(1) {
  margin-top: 45px;
  /*background: red;*/
}

.left-column .history-item:nth-of-type(2) {
  margin-top: 30px;
}

.left-column .history-item:nth-of-type(3) {
  margin-top: 270px;
}

.left-column .history-year-point {
  position: absolute;
  content: "";
  top: 12px;
  right: -34px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3e3d3d;
}

.left-column .history-item::before {
    position: absolute;
    right: -12px;
    top: 18px;
    width: 0;
    height: 0;
    content: "";
    border: 6px solid;
    border-color: #3e3d3d transparent transparent #3e3d3d;
}

.left-column .history-item::after {
    position: absolute;
    right: -9px;
    top: 19px;
    content: "";
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: #ededed transparent transparent #ededed;
}

.left-column .history-item:hover::after {
   border-color: #3e3d3d transparent transparent #3e3d3d;
}

.right-column .history-item:nth-of-type(1) {
  margin-top: 80px;
}

.right-column .history-item:nth-of-type(2) {
  margin-top: 50px;
}

.right-column .history-item:nth-of-type(3) {
  margin-top: 180px;
}

.right-column .history-year-point {
  position: absolute;
  content: "";
  top: 11px;
  left: -34px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3e3d3d;
}

.right-column .history-item::before {
    position: absolute;
    left: -12px;
    top: 18px;
    width: 0;
    height: 0;
    content: "";
    border: 6px solid;
    border-color: #3e3d3d #3e3d3d transparent transparent;
}

.right-column .history-item::after {
    position: absolute;
    left: -9px;
    top: 19px;
    content: "";
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: #ededed #ededed transparent transparent;
}

.right-column .history-item:hover::after {
   border-color: #3e3d3d #3e3d3d transparent transparent;
}

/* end of history */

/* ++++++++++++++++++++++++++++++++ *
/* OUR TEAM STARTED */
/* +++++++++++++++++++++++++++++++ */

.ourteam {
  min-height: 666px;
  background: url("../img/ourteam-bg.jpg") no-repeat;
  background-size: cover;
}

.outeam-item-row {
  margin-top: 70px;
  text-align: center;
}
.ourteam-item {
  display:inline-block;
  vertical-align: top;
  width: 271px;
  height: 338px;
  /*border:1px solid black;*/
}

.ourteam-item:nth-of-type(2) {
  margin: 0 30px;
}

.ourteam-item:nth-of-type(1) {
  background: url("../img/ourteam-item-1.jpg") no-repeat;
}

.ourteam-item:nth-of-type(2) {
  background: url("../img/ourteam-item-2.jpg") no-repeat;
}

.ourteam .ourteam-item:nth-of-type(3) {
  background: url("../img/ourteam-item-3.jpg") no-repeat;
}

.ourteam-item-child {
  display:block;
  visibility: hidden;
  box-sizing: border-box;
  width: 250px;
  height: 318px;
  margin: 10px;
  padding-top: 210px;
  padding-left: 20px;
  background: #ffffff;
  opacity: 0.7;
}
.ourteam-item:hover .ourteam-item-child {
  visibility: visible;
}

.ourteam-card {
  display: block;
  /*border:1px solid red;*/
}

.ourteam-card span {
  display: block;
  padding-top: 5px;
  text-align: left;
}

.ourteam-card span:first-of-type {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  /*line-height: 18px;*/
  font-weight: bold;
  letter-spacing: 1px;
  color: 3e3d3d;
}

.ourteam-card span:nth-of-type(2) {
  width:140px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  /*line-height: 18px;*/
  text-transform: capitalize;
  font-weight: normal;
  font-style: italic;
  color: #3e3d3d;
  border-bottom: 2px solid #3e3d3d;
}



/* Footer */

.main-footer {
    /*background: #232323 url("../img/bg-footer.jpg") repeat;*/
}
