
/*   Common   Styles  */
html, body {
  margin: 0;
  padding: 0;
}

html {
  /*background: #939393;*/
}


body {
  /*font-size: 14px;*/
  /*line-height: 24px;*/
  /*font-family: "PT Sans Narrow", sans-serif;*/
  /*font-weight: bold;*/
  /*text-transform: uppercase;*/
  width: 1600px;
  margin: auto;
  border: 1px solid black;
}

@font-face {
    font-family: Amsdam;
    src: url("../fonts/AmsdamFF/Amsdam-Regular.ttf");
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

h2 {
  /*margin-top: 60px;*/
  font-size: 20px;
  line-height: 225px;
  font-family: Amsdam,"PT Sans Narrow", sans-serif;
  /*font-weight: bold;*/
  color: #3e3d3d;
  text-transform: uppercase;
  text-align:center;
}

.text-under-h2 {
  display: inline-block;
  margin: 0 70px;
  font-size: 14px;
  line-height: 25px;
  /*line-height: 20px;*/
  font-family: "Crimson Text", sans-serif;
  color: #3e3d3d;
}

.btn {
  display: inline-block;
  text-align:center;
  /*margin-right:5px;*/
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  width:135px;
  /*height:40px;*/
  box-sizing: border-box;
  background: #3e3d3d;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 44px;
  color: #cecece;
  border: 2px solid #3e3d3d;

}

.btn-get-started {
  font-size: 15px;
  line-height: 50px;
  font-weight: bold;
  background-color: inherit;
  border: 2px solid #ffffff;
  color:#ffffff;

}

.btn-white {
  background: #ffffff;
  color: #3e3d3d;
}

.btn-about a,
a.btn {
  text-decoration: none;
}
/* end of common styles */


/* !!!!!!!!!!!!!!!!  Header */
/*-----  End of Header  ------*/

/* slider start */
.slider-prev,
.slider-data,
.slider-next {

}

.slider {
  background: url("../img/slider-bg.jpg") no-repeat;
  min-height: 635px;
}

.slider-prev {
  /*position:relative;
  top:290px;
  left:0px;*/
}

.slider-next {
  /*position:relative;
  top:290px;
  right:0px;*/
}

.text-slider {
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  line-height: 50px;
  color: #ffffff;
}

h1 {
  font-family: Amsdam, sans-serif;
  font-size: 36px;
  line-height: 200px;
  text-transform: uppercase;
  color: #ffffff;
}
/* slider end */

/* !!!!!!!!!!!!!!!!  about us */

/*-----   Abouut US   ------*/
.about-us-img {
  background: url("../img/about-us-img.jpg") no-repeat;
  background-size: auto;
  min-height: 325px;
}
.about-us {
  padding-top: 70px;
  /*border: 1px solid black;*/
  background: #e3e3e3;
}

.about-us .container {
  background: #ffffff;
}

.btn-about {
  display: block;
  margin: 0 auto;
  margin: 50px 0;
  text-align: center;
}

.about-us-row-items {
  display: block;
  text-align: center;
  background: #e3e3e3;
}

.about-us-item {
  display: inline-block;
  width: 170px;
  /*margin: 40px 0;*/
  /*border-right: 3px solid #b0b0b0;*/
}



.about-us-item-title {
  display:block;
  /*position: relative;*/
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #3e3d3d;
}

.about-us-item-number {
  display:block;
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  line-height: 44px;
  /*text-transform: uppercase;*/
  color: #3e3d3d;
}

.about-us-item:last-child {
  /*border: none;*/
}

/*.about-us-item:before {
  position: absolute;
  content: "";
  color: #333;
  background-color: #fc0;
  height: 100px;
  padding:0 10px;
}*/


    /*background: url("../img/about-divider.jpg") no-repeat;*/

/*-----   End About US   ------*/

/* Footer */

.main-footer {
    /*background: #232323 url("../img/bg-footer.jpg") repeat;*/
}
