
/*   Common   Styles  */
html, body {
  margin: 0;
  padding: 0;
}

html {
  /*background: #939393;*/
}


body {
  font-family: sans-serif;
  /*font-size: 14px;*/
  /*line-height: 24px;*/
  /*font-weight: bold;*/
  /*text-transform: uppercase;*/
  /*width: 1600px;*/
  /*margin: auto;*/
  /*border: 1px solid black;*/
}

@font-face {
    font-family: Amsdam;
    src: url("../fonts/AmsdamFF/Amsdam-Regular.ttf");
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

h2 {
  position: relative;
  display: block;
  margin: 0;
  font-size: 20px;
  line-height: 225px;
  font-family: Amsdam,"PT Sans Narrow", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.text-under-h2 {
  display: block;
  margin: 0 70px;
  font-size: 14px;
  line-height: 25px;
  /*line-height: 20px;*/
  font-family: "Crimson Text", sans-serif;
  letter-spacing: 1px;
}

.color-grey-h2 {
  color: #3e3d3d;
}

.color-white-h2 {
  color: #ffffff;
}


.btn {
  display: inline-block;
  text-align:center;
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  width:135px;
  /*height:40px;*/
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 44px;
  letter-spacing: 1px;
  border: 2px solid #3e3d3d;
  color: #cecece;
  background: #3e3d3d;
}

.btn-get-started {
  position: relative;
  width: 150px;
  font-size: 15px;
  line-height: 50px;
  background-color: inherit;
  border: 2px solid #ffffff;
  color:#ffffff;
}

.btn-white {
  background: #ffffff;
  color: #3e3d3d;
}

.btn-about a,
a.btn {
  text-decoration: none;
}
/* end of common styles */


/*   Header */
.main-header .container {
  position:relative;
  padding: 5px 0;
  background: #ffffff;
}

.header-logo,
.main-navigation,
.main-navigation li,
.main-navigation a,
.social-block {
  display: inline-block;
}

.header-logo {
  padding-left:55px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #757575;
  opacity: 0.8;
}

.header-logo::before {
  position: absolute;
  content: "";
  top:20%;
  left:0;
  width:41px;
  height:39px;
  /*background:red;*/
  background: url("../img/logo-main.jpg") no-repeat;
}

.main-navigation {
  margin-left: 110px;
}

.main-navigation a {
  margin-right:15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  /*line-height: 50px;*/
  color: #b7b7b7;
}

.social-block {
  position: absolute;
  right:0;
  top:30%;
}

.soc-fb, .soc-tw, .soc-be {
  position: relative;
  margin: 0px;
  padding: 0 5px;
  /*border-right: 2px solid #aaaaaa;*/
}

.soc-be {
  padding-right: 0;
  /*border-right: none;*/
}

.soc-fb::after {
  position: absolute;
  content: "";
  top:4px;
  left:22px;
  width:2px;
  height:10px;
  background: #aaaaaa;
}

.soc-tw::after {
  position: absolute;
  content: "";
  top:4px;
  left:22px;
  width:2px;
  height:10px;
  background: #aaaaaa;
}
/*-----  End of Header  ------*/

/* -------------------------------*/
/* SLIDER start ------------------*/
/* -------------------------------*/
.slider {
  background: url("../img/slider-bg.jpg") no-repeat;
  min-height: 635px;
  background-size: cover;
}

.slider .container {
  position: relative;
  padding-top:120px;
  text-align: center;
  /*vertical-align: bottom;*/
}

.slider-prev {
  position: absolute;
  top: 250px;
  left: 0;
}

.slider-next {
  position: absolute;
  top: 250px;
  right: 0;
}

.slider-data {
   display: inline-block;
  /*position: relative;*/
  /*margin-top:120px;*/
}

.text-slider {
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
}


.slider h1 {
  display: block;
  position: relative;
  margin: 0;
  padding:0;
  font-family: Amsdam, sans-serif;
  font-size: 36px;
  line-height: 200px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ffffff;
}

.slider h1::before {
  position: absolute;
  content: "";
  top:40px;
  left:-5px;
  width:519px;
  height:109px;
  background: url("../img/slider-lines.png") no-repeat;
}

.btn-get-started::after {
  position: absolute;
  content:"";
  left: 60px;
  top: 43px;
  width: 15px;
  height: 50px;
  background: url("../img/slider-button-arrow.png") no-repeat;
}

/* slider end */

/* !!!!!!!!!!!!!!!!  about us */

/*-----   Abouut US   ------*/
.about-us-img {
  background: url("../img/about-us-img.jpg") no-repeat;
  background-size: auto;
  min-height: 325px;
}
.about-us {
  background: #e3e3e3;
  padding-top: 70px;
}

.about-us .container {
  background: #ffffff;
}

.about-us h2:before {
  position: absolute;
  content: "";
  top: 150px;
  left: 490px;
  width:186px;
  height: 5px;
  background: url("../img/h2-divider-black.png") no-repeat;
}

.btn-about {
  display: block;
  margin: 0 auto;
  margin: 50px 0;
  text-align: center;
}

.about-us-row-items {
  display: block;
  text-align: center;
  background: #e3e3e3;
  padding-top:35px;
  padding-bottom: 75px;
}

.about-us-item {
  display: inline-block;
  position: relative;
  width: 270px;
  /*margin: 40px 0;*/
  /*border:1px solid red;*/
  color: #3e3d3d;
}



.about-us-item-title {
  display:block;
  position: relative;
  padding-top:20px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;

}

.about-us-item-number {
  display:block;
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  line-height: 44px;
  /*text-transform: uppercase;*/
}

.about-us-item:before {
  position: absolute;
  content: "";
  top:0;
  right:0px;
  width:1px;
  height:168px;
  /*background:red;*/
  background: url("../img/about-divider.jpg") no-repeat;
}

.about-us-item:last-child:before {
  visibility: hidden;
}

/*background: url("../img/about-divider.jpg") no-repeat;*/

/*-----   End About US   ------*/

/*services start*/
.services {
  min-height: 742px;
  background: url("../img/services-bg.jpg") no-repeat;
  background-size: cover;
  /*opacity: 0.9;*/
}

.services h2:before {
  position: absolute;
  content: "";
  top: 150px;
  left: 490px;
  width:186px;
  height: 5px;
  background: url("../img/h2-divider-white.png") no-repeat;
}

.services .text-under-h2 {
  text-align: center;
  color: #bebebf;
}

.services-row-item {
  margin-top: 30px;
}

.services-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  /*height: 490px;*/
  width: 270px;
  /*padding: 15px;*/
  margin-left: 15px;
  text-align: center;
  color: #bebebf;
  /*color: #d8d8d8;*/
  /*color: #ffffff;*/
  /*color: #3e3d3d;*/
  /*border: 1px solid red;*/
}

.services-item::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0px;
  width:270px;
  height:377px;
  background: url("../img/services-border.jpg");
  background-repeat: no-repeat;
}

.services-img {
  display: block;
  /*text-align: center;*/
}

.services-item-title {
  display: block;
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.services-item-text {
  display: block;
  /*margin:auto;*/
  /*width: 190px;*/
  height:210px;
  padding: 30px 30px;
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  /*border: 1px solid blue;*/
}

/*end of services */

/* -------------------------------------------*/
/* start HISTORY */
/* -------------------------------------------*/
.history  {
  /*border: 1px solid brown;*/
  border-bottom: 2px solid brown;
}

.history .container {
  min-height: 1600px;
  /*border: 1px solid blue;*/
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;

}

.history h2:before {
  position: absolute;
  content: "";
  top: 150px;
  left: 490px;
  width:186px;
  height: 5px;
  background: url("../img/h2-divider-black.png") no-repeat;
}

.history .text-under-h2 {
  text-align: center;
  /*color: #bebebf;*/
  /*color: #3e3d3d;*/
  /*border:1px solid red;*/
}

.history-items-gr {
  /*position: relative;*/
  display: block;
  padding-top: 160px;
  color: #3e3d3d;
}

/*.history-items-gr::before {
  position: absolute;
  content:"";
  left: 584px;
  top: 105px;
  width: 2px;
  height: 1051px;
  background: url("../img/history-line.png") no-repeat;
}*/

.left-column,
.right-column  {
  display:inline-block;
  width:560px;
  box-sizing: border-box;
  vertical-align: top;
  /*border: 1px solid red;*/
}

.left-column {
  /*margin-right: 42px;*/
}

.left-column .history-item {
  display: block;
  box-sizing: padding-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 50px;
}

.right-column .history-item {
  display: block;
  box-sizing: padding-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 55px;
  padding-right: 15px;
}

.history-item {
  position: relative;
  /*border:1px solid #3e3d3d;*/
}

.history-item-title {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.history-item-date{
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: none;
}

.history-item-text {
  display: block;
  font-family: "Crimson Text", sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
  text-transform: none;
}

/*new history*/
.c-divider {
  position: relative;
  display: inline-block;
  margin: 0 19px;
  /*left: 584px;
  top: 105px;*/
  width: 2px;
  height: 1051px;
  background: url("../img/history-line.png") no-repeat;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: center;
  color: #3e3d3d;

}

.c-top {
  position: absolute;
  left: -36px;
  top: -71px;
  width: 68px;
  height: 68px;
  border: 2px solid #3e3d3d;
  border-radius: 50%;
}

.c-middle {
  position: absolute;
  left: -36px;
  top: 662px;
  width: 68px;
  height: 68px;
  border: 2px solid #3e3d3d;
  border-radius: 50%;
}

.c-bottom {
  position: absolute;
  left: -27px;
  bottom: -54px;
  width: 54px;
  height: 54px;
  /*border: 2px solid #3e3d3d;*/
  border-radius: 50%;
  background-color: #3e3d3d;
  /*background-image: url("../img/history-start.png") no-repeat;*/
}

.c-top span,
.c-middle span {
  position: relative;
  top: 35%;
}

.c-bottom img {
 position: relative;
 top: 25%;
}

.left-column .history-item:nth-of-type(1) {
  margin-top: 45px;
  /*background: red;*/
}

.left-column .history-item:nth-of-type(2) {
  margin-top: 30px;
}

.left-column .history-item:nth-of-type(3) {
  margin-top: 270px;
}

/*.left-column .history-item:nth-of-type(1)::before*/
.left-column .history-item::before {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width: 570px;
  height: 217px;
  background: url("../img/history-item-left-border.png")
}

/*.left-column .history-item:nth-of-type(1)::after*/
.left-column .history-item::after {
  position: absolute;
  content: "";
  top: 15px;
  right: -31px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3e3d3d;
}

/* end of history */
/* Footer */

.main-footer {
    /*background: #232323 url("../img/bg-footer.jpg") repeat;*/
}
